{% extends 'base.html' %}

{% block title %} {{title}}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Friends..</h1>
        <br>

        <form action="/friends" method="post">
            <input type="text" placeholder="Name" name="name">
            <input type="submit" value="Add Name" class=" btn btn-primary">
        </form>

        <br><br>
        <table>
            <header>Friends table</header>
            --------------------
            <br>
                {% for friend in friends %}
                <tr>
                    <h4>
                        <td> 
                            {{friend.name}} 
                        </td>
                        
                        <td>
                            <a href="/update/{{friend.id}}" class="btn btn-outline-secondary btn-sm">Update</a>
                        </td>
                        <td>
                            <a href="/delete/{{friend.id}}" class="btn btn-outline-danger btn-sm">Delete</a>
                        </td>       
                    </h4>
                </tr>
                
                {% endfor %}
        </table>

    </div>
{% endblock %}