{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="container">
    <h1>Subscribe to my Blog for further updates</h1>
    <br>

    <!-- if all fields are not formed then error dialog box occurs -->
    {% if error_statement %}
    <div class="alert alert-danger" role="alert">
        {{error_statement}}
    </div>
    {% endif %}

    <br>
    <form action="/form" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name" value={{first_name}}>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name" value={{last_name}}>
        </div>

        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email Address" name="email" value={{email}}>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>
{% endblock %}